[user]
	name = zentolga
	email = zentolga@gmail.com
[safe]
	directory = /storage/emulated/0/chat_simulator
	directory = /storage/emulated/0/chat_simulator_fixed
	directory = /storage/emulated/0/chat son
	directory = /storage/emulated/0/chat son
	directory = /storage/emulated/0/chat son
